.hero {
  background: white;
}

.card-img-top{
	height:230px;
}

.card 
{
	position: relative;
  
}

.card .card-body
{

  position: absolute;
  color:white;
  border : 3px solid  #c2b698;
  top:11%;
  left: 11%;
  height: 80%;
  width:80%;
}
