h6{
      margin: 0 0 0.8em;
    font-size: 1.06em;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 1.3em;
    font-weight: 700;
    letter-spacing: 6.4px;
    color: #c2b698;
    }
.navbar-light .navbar-nav .nav-link.active{
    color: #c2b698;
    
    border-bottom: 3px solid #c2b698;
    padding-left: 0;
    padding-right: 0;
    margin: 0 8px;
}

.sections{
  margin-bottom: 4em;
}

.btn{
  background-color: #bcdf00;
  border-color: #bcdf00;
  color:black;
}
.hero {
  background: white;
}

.card-img-top{
  height:230px;
}

.first_section .card 
{
  position: relative;
  
}

.first_section .card .card-body
{

  position: absolute;
  color:white;
  border : 3px solid  #c2b698;
  top:11%;
  left: 11%;
  height: 80%;
  width:80%;
}

.third_section .card {
  padding: 1em;
  background-color: #efeeed;
}

.third_section .card img{
  border-radius: 50%;
  width: 85%;
  height: 80%;
  margin:1em;

}

.footer_section{
   background-color: #c2b698;
}

.footer_section .jumbotron.jumbotron-fluid {
  background-color: #c2b698;
}